/* ============== cuerpo ========== */

.contenedor_texto {
  margin-top: 12%;
  margin-bottom: 15px;
  text-align: center;
}

/*items del cuerpo principal*/
.contenedor_sec {
  text-align: justify;
  background-color: #f6f3f0;
  padding: 50px;
  
}

.item {
  width: auto;
  text-align: center;
    
}
.item p{
  text-align: justify;
  font-size: 2rem;
 }

/* ================ responsive ==============
@media screen and (max-width: 1300px) {
  .contenedor_texto h3 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 950px) {
  .contenedor_texto h3 {
    font-size: 2.5rem;
  }
  .contenedor_portada {
    height: auto;
    padding: 25px 5px;
  }
  .contenedor_texto {
    margin: 2% 1%;
  }
}
@media screen and (max-width: 700px) {
  .contenedor_texto h3 {
    font-size: 2rem;
  }
}
*/