/* ============== cuerpo ========== */
.contenedor_portada {
 
  margin-top: 15%;
  }

.contenedor_sec {
  background-color: rgb(200, 223, 218);
  width: 55%;
  height: auto;
  margin: 20px auto;
  margin-bottom: 5%;
  border-radius: 20px;
  border-color: #784b4a;
  border-style: solid;
  padding: 50px;
}
.form-control {
 
  width: 97%;
  height: 3rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(173, 118, 245);
  margin-top: 10px;
  margin-left: 1rem;
  margin-bottom: 20px;
  padding-left: 1rem;
  font-size: 1rem;
}
.boton {
  font-size: large;
  height: 3rem;
  width: 97%;
  margin-left: 1rem;
  margin-bottom: 20px;
  padding-left: 1rem;
  text-transform: uppercase;
  background-color: rgb(209, 167, 207);

  border-color: rgb(245, 200, 118);
  border-radius: 10px;
  border-color: #4d3232;
  border-style: solid;
  cursor: pointer;
}
textarea {
  background-color: #fbfbfb;
  width: 97%;
  height: 3rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  
  margin-left: 1rem;
  margin-bottom: 20px;
  padding-left: 1rem;
}
.form-select {
  margin-left: 1rem;
  margin-bottom: 20px;
  padding-left: 1rem;
  height: 3rem;
  width: 97%;
}
.form-label {
  font-size: large;
  padding-left: 32px;
}
.form_texto {
  text-align: center;
  font-size: large;
  padding: 5%;
}

