/* ================ responsive ==============*/
@media screen and (max-width: 1300px) {
  
    .contenedor_portada {
      height: auto;
      padding: 0px 5px 100px 5px;
    }
}

@media screen and (max-width: 1200px) {
  
  .contenedor_portada {
    height: auto;
    padding: 50px 10px;
  }
  .contenedor_detalle {
    height: 80%;
  }
}

@media screen and (max-width: 950px) {
  .contenedor_carrousel {
    height: 40vh;
  }
  .contenedor_imagenes {
    width: 150px;
    height: 175px;
  }
  .contenedor_imagenes span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(250px);
  }

  .contenedor_portada {
    height: auto;
    padding: 25px 5px 50px 5px; /* Corregido duplicado de padding */
  }
  .contenedor_texto {
    margin: 2% 1%;
  }
}

@media screen and (max-width: 700px) {
  .contenedor_detalle {
    flex-direction: column; 
    align-items: center; 
  }
  .contenedor_portada {
    padding: 0px 5px 20px 5px;
  }
  .item {
    width: 80%;
    margin: 8px auto; 
  }

  .contenedor_imagenes {
    width: 120px; 
    height: 140px;
  }
  .contenedor_imagenes span {
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(180px); 
  }

  .menu {
    flex-direction: column; /* Cambia la dirección del flexbox para apilar elementos verticalmente */
    margin-top: 20px;
}

.menu-icon {
    order: -1; /* Cambia el orden del ícono de menú para que aparezca arriba */
    margin-bottom: 10px; /* Agrega espacio entre el ícono de menú y los elementos del menú */
}

.menu-items {
    display: none; /* Oculta los elementos del menú por defecto */
    width: 100%; 
    padding: 0;
}

.menu-items li {
    padding: 10px;
    text-align: center; /* Centra el texto del elemento del menú */
}

.menu-items li a {
    display: block; /* Hace que los enlaces ocupen todo el ancho del contenedor */
}

/* Mostrar el menú al hacer clic en el icono */
#menu-toggle:checked + .menu-items {
    display: block;
}
.img_logo {
    width: 100px; /* Tamaño del logo para dispositivos pequeños */
  }
}
/*-----------------*/
/* ================ responsive fomr==============*/
@media screen and (max-width: 1300px) {
  .contenedor_texto h3 {
    font-size: 3.5rem;
  }
  .contenedor_portada {
    height: auto;
    padding: 0px 1rem 10rem 1rem;
  }
  .contenedor_sec {
    height: auto;
  }
}
@media screen and (max-width: 950px) {
  .contenedor_texto h3 {
    font-size: 2.5rem;
  }
  .contenedor_portada {
    padding: 0px 5px 50px 5px;
  }
  .contenedor_texto {
    margin: 2% 1%;
  }
}
@media screen and (max-width: 700px) {
  .contenedor_texto h3 {
    font-size: 2rem;
  }
}
